html,body{font-family:"open-sans";font-size:12px;line-height:18px;font-weight:400;margin:0;padding:0}
ul{list-style:none;padding:0 0 0 18px;margin:0}
a{text-decoration:none;color:#9ea7b1}
header{height:54px;background:#556170;margin:0;padding:0 9px;font-family:"aw-conqueror-carved-one";font-weight:400;font-size:12px;color:#fff;line-height:27px;}
header h1#logo{font-weight:400;font-size:12px;color:#9ea7b1;margin:0;padding:0;line-height:27px;width:145px}
header .property{width:145px;float:left}
header #mainnav{float:left}
header ul li{display:block;float:left;margin:0 18px 0 0;}
header ul li a{color:#adb8c6;letter-spacing:1px}
header #rightnav{float:right;padding:0 18px 0 0;}
header #rightnav li{float:right;margin:0 0 0 18px;}
header #rightnav li a{letter-spacing:1px}
nav#sidebar{background:#f9f9f9;width:154px;position:fixed;top:54px;bottom:0;left:0;padding-top:9px;border-right:1px solid #e8ebf2;}
nav#sidebar ul{padding-left:0;}
nav#sidebar ul li{height:27px;}
nav#sidebar ul li a{font-weight:600;padding-left:9px;line-height:27px}
nav#sidebar ul .separ{background:#e8ebf2;height:1px;margin:9px 0}
section#panel{position:fixed;left:154px;right:0;top:54px;bottom:0;padding:9px 18px;}
section#panel .top{margin-bottom:9px;}
section#panel .top ul{padding:0;height:27px;}
section#panel .top ul li{height:27px;float:left;margin-right:18px;}
section#panel .top ul li a{line-height:27px;font-family:"aw-conqueror-carved-one";letter-spacing:1px}
section#panel .title{height:45px;}
section#panel .title h1{font-size:36px;font-weight:300;color:#808195;line-height:45px;margin:0;padding:0}
