body
  font-family : ProximaNovaRegular
  font-size : 12px
  line-height : 18px

.top
  height : 50px
  position : absolute
  top : 0
  width : 100%
  border-radius: 0px 5px 0 0

#appmenu
  width : 82px
  position : fixed
  left :0
  top : 0
  bottom :0
  border-radius: 0px 5px 5px 0
  background: #3C4753
  background-image: -o-linear-gradient(0deg, #2F3741 100%, #3C4753 0%)
  background-image: -moz-linear-gradient(0deg, #2F3741 100%, #3C4753 0%)
  background-image: -webkit-linear-gradient(0deg, #2F3741 100%, #3C4753 0%)
  background-image: -ms-linear-gradient(0deg, #2F3741 100%, #3C4753 0%)
  background-image: linear-gradient(-90deg, #2F3741 100%, #3C4753 0%)
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -ms-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -o-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)

  .top
    background: #242B2E
    border-bottom: 2px solid #1D2220



#sidebar
  position : fixed
  width : 206px
  left : 76px
  top : 0
  bottom :0
  border-radius: 0px 5px 5px 0
  background: #8F9AAA
  background-image: -o-linear-gradient(0deg, #8D98A8 100%, #A6B1BF 0%)
  background-image: -moz-linear-gradient(0deg, #8D98A8 100%, #A6B1BF 0%)
  background-image: -webkit-linear-gradient(0deg, #8D98A8 100%, #A6B1BF 0%)
  background-image: -ms-linear-gradient(0deg, #8D98A8 100%, #A6B1BF 0%)
  background-image: linear-gradient(-90deg, #8D98A8 100%, #A6B1BF 0%)
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -ms-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  -o-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)

  .top
    background: #7F8996
    border-bottom : 2px solid #717C87

#panel
  position : fixed
  left : 275px
  right : 0
  top : 0
  bottom : 0
  
  .top
    background : #F6F6F6
    border-bottom : 2px solid #E2E6EF
    border-radius : 0
