html, body
  font-family : "open-sans"
  font-size : 12px
  line-height : 18px
  font-weight : 400
  margin : 0
  padding : 0

ul
  list-style : none
  padding : 0 0 0 18px
  margin : 0

a 
  text-decoration : none
  color : #9EA7B1


header
  height : 54px
  background : #556170
  margin : 0
  padding : 0 9px
  font-family : "aw-conqueror-carved-one"
  font-weight : 400
  font-size : 12px
  color : white
  line-height : 27px

  h1#logo
    font-weight : 400
    font-size : 12px
    color : #9EA7B1
    margin : 0
    padding : 0
    line-height : 27px
    width : 145px

  .property
    width : 145px
    float : left



  #mainnav
    float : left

  ul

    li
      display : block
      float : left
      margin : 0 18px 0 0

      a
        color : #ADB8C6
        letter-spacing : 1px

  #rightnav
    float : right
    padding : 0 18px 0 0

    li
      float : right
      margin : 0 0 0 18px

      a
        letter-spacing : 1px


nav#sidebar 
  background : #F9F9F9
  width : 154px
  position : fixed
  top : 54px
  bottom : 0
  left : 0
  padding-top : 9px
  border-right : 1px solid #E8EBF2

  ul
    padding-left : 0px

    li
      height : 27px

      a
        font-weight : 600
        padding-left : 9px
        line-height : 27px

    .separ 
      background: #E8EBF2
      height : 1px
      margin : 9px 0

section#panel
  position : fixed
  left : 154px
  right : 0
  top : 54px
  bottom : 0
  padding : 9px 18px

  .top
    margin-bottom : 9px

    ul
      padding : 0
      height : 27px

      li
        height : 27px
        float : left
        margin-right : 18px

        a 
          line-height : 27px
          font-family : "aw-conqueror-carved-one"
          letter-spacing : 1px

  .title
    height : 45px

    h1
      font-size : 36px
      font-weight : 300
      color : #808195
      line-height : 45px
      margin : 0
      padding : 0




