html(lang=en, ng-app='trackit')
  head
    title= 'trackit.io'
    script(src='../../js/components/angular/angular.min.js')
    script(src='../../js/app.js')
    link(rel='stylesheet', href='../../css/app.css')
    link(rel='stylesheet', href='../../fonts/ProximaNova-Regular/proximanova-regular.css')
  body
    div#panel
      .top
        p Hello
    div#sidebar
      .top
    div#appmenu
      .top